@import "tailwindcss";

@theme {
  --color-brand-primary: #242751;
  --color-brand-secondary: #181B3B;
  --color-brand-accent: #DB8636;
  --color-brand-accent-light: #F3A93F;
  --color-brand-cream: #F2F0E7;
}

:root {
  --background: #0f111a;
  --foreground: #F2F0E7;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}
